DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root123
DB_NAME=buy_or_sell

JWT_ACCESS_SECRET=your_placeholder_access_secret
JWT_REFRESH_SECRET=your_placeholder_refresh_secret
GUEST_TOKEN_SECRET=your_placeholder_guest_secret
GUEST_TOKEN_EXPIRES_IN=10d

JWT_ACCESS_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d